* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../resources/background.svg) no-repeat center;
  background-size: cover;
  font-family: "Be Vietnam Pro", serif;
  /* height: 100vh; */
}

.header {
  margin-left: 72px;
  margin-top: 36px;
}

.section {
  /* border: 2px solid green; */
  margin: 0 auto;
  width: 1024px;
}

.section h1 {
  color: #fff;
  font-size: 3.5rem;
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.section p {
  /* border: 1px solid red; */
  color: #fff;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 720px;
  text-align: center;
}

/* Formulario */
.section-form {
  background-color: #ffffff33;
  /* border: 1px solid red; */
  border-radius: 12px;
  margin-top: 40px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.form-control {
  margin-inline: 16px;
  margin-block: 20px;
}

.form-control label {
  color: #fff;
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
}

.form-control input,
select {
  color: #111729;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  display: block;
  padding: 24px 18px;
  outline: none;
  width: 100%;
}

select {
  -moz-appearance: none; /*Firefox legacy*/
  -webkit-appearance: none; /* Chromes legacy*/
  appearance: none;
  /*Y a continuación añadimos el nuestro como background*/
  background-image: url(../resources/Expand_down.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center; /*Lo posicionamos a la derecha*/
  padding-right: 24px;
}

.form-control input::placeholder,
select,
textarea::placeholder {
  color: #111729;
  font-size: 1.1rem;
  font-weight: bold;
}

.form-control textarea {
  border-radius: 8px;
  padding: 20px 18px;
  width: 100%;
}

.form-btn {
  border: none;
  border-radius: 8px;
  color: #4036a9;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px 18px;
  width: 100%;
}

.form-btn:hover {
  background-color: #cdd5e0;
}

/* footer */
footer {
  margin-block: 40px;
}
.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: #fff;
}

.author-info a {
  color: #111729;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("../resources/background@2x.png");
  }

  .section {
    max-width: 740px;
  }

  .section p {
    /* border: 1px solid red; */
    max-width: 720px;
  }
}

@media only screen and (max-width: 740px) {
  .header {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .section {
    max-width: 640px;
  }

  .section h1 {
    font-size: 2.5rem;
    max-width: 590px;
  }

  .section p {
    font-size: 1.5rem;
    max-width: 590px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    background-image: url("../resources/background@3x.png");
  }

  .header {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .section {
    width: 95%;
  }

  .form-group {
    grid-template-columns: 1fr;
  }

  .section h1 {
    font-size: 2.2rem;
    width: 90%;
  }

  .section p {
    font-size: 0.9rem;
    width: 95%;
  }

  .form-control input::placeholder,
  select,
  textarea::placeholder {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  .form-control input,
  select {
    font-size: 1rem;
    padding: 20px 15px;
  }
}
